*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
*.pem
jdauphant.nginx
.env
appuser
build_info.txt

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache

#python virtualenv
ansible/molecule/
