global:
  slack_api_url: 'https://hooks.slack.com/services/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'

route:
  receiver: 'slack-notifications'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#ildar-saidashev'
